version: "3.8"

services:
  # --------------------
  # Nextcloud Database
  # --------------------
  nextcloud-db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${NC_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${NC_DB_PASSWORD}
    volumes:
      - ./nextcloud/db:/var/lib/mysql

  # --------------------
  # Nextcloud
  # --------------------
  nextcloud:
    image: nextcloud:latest
    restart: unless-stopped
  #  ports:
  #    - "8080:80"
    environment:
      MYSQL_HOST: nextcloud-db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${NC_DB_PASSWORD}
    volumes:
      - ./nextcloud/html:/var/www/html
    depends_on:
      - nextcloud-db
    extra_hosts:
      office.example.local: "host-gateway"
  # ---------------------
  # Collabora
  # ---------------------
  collabora:
    image: collabora/code:latest
    restart: unless-stopped
    ports:
      - "9980:9980"
    environment:
      - extra_params=${COLLABORA_EXTRA_PARAMS}
      - domain=${COLLABORA_DOMAIN}
      - username=${COLLABORA_USER}
      - password=${COLLABORA_PASS}
    cap_add:
      - MKNOD
      - SYS_ADMIN
      - SYS_CHROOT
      - FOWNER
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined

  # ---------------------
  # osTicket Database
  # ---------------------
  osticket-db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${OST_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: osticket
      MYSQL_USER: osticket
      MYSQL_PASSWORD: ${OST_DB_PASSWORD}
    volumes:
      - ./osticket/db:/var/lib/mysql

  # ---------------------
  # osTicket
  # ---------------------
  osticket:
    image: tiredofit/osticket:latest
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      INSTALL_SECRET: ${OST_INSTALL_SECRET}
      INSTALL_EMAIL: ${OST_INSTALL_EMAIL}
      INSTALL_FIRSTNAME: ${OST_INSTALL_FIRSTNAME}
      INSTALL_LASTNAME: ${OST_INSTALL_LASTNAME}
      ADMIN_FIRSTNAME: ${OST_INSTALL_FIRSTNAME}
      ADMIN_LASTNAME: ${OST_INSTALL_LASTNAME}
      ADMIN_EMAIL: ${OST_ADMIN_EMAIL}
      ADMIN_USER: ${OST_ADMIN_USER}
      ADMIN_PASS: ${OST_ADMIN_PASS}
      DB_HOST: osticket-db
      DB_NAME: osticket
      DB_USER: osticket
      DB_PASS: ${OST_DB_PASSWORD}
    depends_on:
      - osticket-db
 