version: "3.8"

services:
  # --------------------
  # Nextcloud Database
  # --------------------
  nextcloud-db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${PASSWORD}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${PASSWORD}
    volumes:
      - path

  # --------------------
  # Nextcloud
  # --------------------
  nextcloud:
    image: nextcloud:latest
    restart: unless-stopped
  #  ports:
  #    - "8080:80"
    environment:
      MYSQL_HOST: nextcloud-db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${PASSWORD}
    volumes:
      - path
    depends_on:
      - nextcloud-db
    extra_hosts:
      office.example.local: "host-gateway"
  # ---------------------
  # Collabora
  # ---------------------
  collabora:
    image: collabora/code:latest
    restart: unless-stopped
    ports:
      - "9980:9980"
    environment:
      - extra_params=${PARAMS}
      - domain=${DOMAIN}
      - username=${USER}
      - password=${PASS}
    cap_add:
      - MKNOD
      - SYS_ADMIN
      - SYS_CHROOT
      - FOWNER
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined

  # ---------------------
  # osTicket Database
  # ---------------------
  osticket-db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${PASSWORD}
      MYSQL_DATABASE: osticket
      MYSQL_USER: osticket
      MYSQL_PASSWORD: ${PASSWORD}
    volumes:
      - path

  # ---------------------
  # osTicket
  # ---------------------
  osticket:
    image: tiredofit/osticket:latest
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      INSTALL_SECRET: ${SECRET}
      INSTALL_EMAIL: ${EMAIL}
      INSTALL_FIRSTNAME: ${FIRSTNAME}
      INSTALL_LASTNAME: ${LASTNAME}
      ADMIN_FIRSTNAME: ${FIRSTNAME}
      ADMIN_LASTNAME: ${LASTNAME}
      ADMIN_EMAIL: ${EMAIL}
      ADMIN_USER: ${USER}
      ADMIN_PASS: ${PASS}
      DB_HOST: osticket-db
      DB_NAME: osticket
      DB_USER: osticket
      DB_PASS: ${PASSWORD}
    depends_on:
      - osticket-db
 
